name: telegram-agent-mcp-client

x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  telegram-agent:
    container_name: telegram-agent
    build: .
    image: telegram-agent
    restart: unless-stopped
    command: telegram-agent-mcp-client --telegram
    depends_on:
      - neo4j-community
    env_file:
      - .env
    volumes:
      - agent_data:/app/data
      - ${CONFIG_DIR:-./config}:/app/config
    <<: [ *default-logging ]
    network_mode: host

  neo4j-community:
    container_name: neo4j-community
    image: neo4j:5.26-community
    restart: unless-stopped
    #ports:
    #  - "7474:7474"
    #  - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc"]
    volumes:
      - neo4j_data:/data
    <<: [ *default-logging ]
    network_mode: host

  docs-ui:
    container_name: docs-ui
    build:
      context: ./docs_ui
      dockerfile: Dockerfile
    image: docs-ui
    restart: unless-stopped
    ports:
      - "4040:4040"
    env_file:
      - .env
    <<: [ *default-logging ]
    network_mode: host
    deploy:
      replicas: ${DOCS_UI_URL:+1}

volumes:
  agent_data:
  neo4j_data:
