WEBHOOK_URL=http://localhost:5678
NODE_FUNCTION_ALLOW_BUILTIN=*
NODE_FUNCTION_ALLOW_EXTERNAL=*
N8N_PAYLOAD_SIZE_MAX=100
N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
N8N_RUNNERS_ENABLED=true
LANGSMITH_PROJECT=n8n-webhooks
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=