RQBIT_URL=http://localhost:3030

# Optional: Rqbit Client
#RQBIT_HTTP_BASIC_AUTH_USERPASS=username:password
#RQBIT_HTTP_API_LISTEN_ADDR=0.0.0.0:3030
#RQBIT_UPNP_SERVER_ENABLE=true
#RQBIT_UPNP_SERVER_FRIENDLY_NAME=rqbit-media
#RQBIT_EXPERIMENTAL_UTP_LISTEN_ENABLE=true